{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}
{% if searchquery %}
<h1 style="margin-bottom: 5px;">Search Results</h1>
<p style="font-style: italic; margin-top:0">Query: "{{searchquery}}"</p>
{% endif %}
<div class="centerbox">
    <div class="postsbox">
        {% for post in posts %}
        <div onclick="location.href = '{% url 'blog:post' post.id %}'" class="post">
            <h1>{{post.title}}</h1>
            <i>{{post.created}}</i>
            {% autoescape off %}
            ​{{post.content|truncatewords_html:75}}
            {% endautoescape %}
        </div>
        <br>
        {% endfor %}
        {% if previous != 0 %}
        <div style="margin: 1rem 0 0 2rem;">
            <a class="button" href="{% url 'blog:index' previous %}">« Previous</a>
        </div>
        {% endif %}
    </div>
    <div class="sidebar">
        <div class="sidebar-moving">
            <!--<img src="{% static 'img/profile.jpeg' %}" style="width:80%;">-->
            <h2>Blog</h2>
            <p></p>
            <form action="{% url 'blog:index' %}" method="POST">
                {% csrf_token %}
                <input id="searchbar" type="text" placeholder="Search by keyword" name="searchbar">
                <div class="back-to-top" onclick="document.body.scrollTop = 0;"><p>Back to Top</p>
                <!--<input class="button" type="submit" style="margin:10px;padding:0px 10px" value="&#187;">-->
            </form>
            <!---
            <div class="sidebar-bottom">
                <div class="back-to-top" onclick="document.body.scrollTop = 0;"><p>Back to Top</p></div>
            </div>
        -->
        </div>
    </div>
</div>
{% endblock %}