{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}
<div class="centerbox">
    <div style="width:100%">
        <h1>{{post.title}}</h1>
        <i>{{post.created}}</i>
        {% autoescape off %}
        ​{{post.content}}
        {% endautoescape %}
    </div>

    <!---
    <div class="sidebar">
        <div class="sidebar-moving">
            <img src="{% static 'img/profile.jpeg' %}" style="width:80%;">
            <h2>Blog</h2>
        </div>
    </div>
-->

</div>
{% endblock %}