{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}
<div class="centerbox">
    <div style="width:80%">
        <h1>{{post.title}}</h1>
        <i>{{post.created}}</i>
        {% autoescape off %}
        ​{{post.content}}
        {% endautoescape %}
    </div>
    <div class="sidebar">
        <div class="sidebar-moving">
            <img src="{% static 'img/beach.png' %}" style="width:80%;">
            <h2>Brandon's Blog</h2>
            <p>A place for me to blog my essays, random thoughts, and about the books I read.</p>
        </div>
    </div>
</div>
{% endblock %}