{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <ul>
        <li><a href="C">Evidence One</a></li>
        <li><a href="D">Evidence Two</a></li>
        <li><a href="E">Evidence Three</a></li>
        <p>(it is best to read them in order)</p>
    </ul>
    <h1>Evidence Card D</h1>
    <img src="{% static 'evan/Card D.PNG' %}">
    <h2>Evidence</h2>
    <p>As shown on the evidence card, there is a trench, located at the boundary between the North American Plate, the River Plate, and the Cocos Plate: The Middle America Trench.</p>
    <h2>Reasoning</h2>

    <p>As National Geographic puts it, "In particular, ocean trenches are a feature of convergent plate boundaries, where two or more tectonic plates meet. At many convergent plate boundaries, dense lithosphere melts or slides beneath less-dense lithosphere in a process called subduction, creating a trench." In short, trenches are generally formed at convergent boundaries, like the one below, where we can clearly see the drop off point..</p>
    <img src="{% static 'evan/Capture.PNG' %}">
    <p>On the other hand, according to the Plate Motion SIM, a divergent boundary would most likely look a little like this:</p>
    <img src="{% static 'evan/divergent.PNG' %}">
    <p>As this is clearly shown in the Evidence Card, this gives one to Convergence.</p>
</body>