{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body style="margin:20px 50px">
    <ul>
        <li><a href="C">Evidence One</a></li>
        <li><a href="D">Evidence Two</a></li>
        <li><a href="E">Evidence Three</a></li>
        <p>(it is best to read them in order)</p>
    </ul>
    <h1>Evidence Card E</h1>
    <img src="{% static 'evan/Evidence E.PNG' %}">
    <h2>Evidence</h2>
    <p>
        As shown on the evidence card, most earthquakes seem to be hovering around the Middle America Trench. 
    </p>
    <h2>Reasoning</h2>
    <p>Looking back at the Plate Motion SIM, we can test whether or not earthquakes seem to happen in trenches, by making the boundary <i>convergent</i> we can test whether or not earthquakes like to hover around trenches. This is <i>impossible</i> for <i>divergent</i> boundaries since trenches cannot form for them.</p>
    <img src="{% static 'evan/ezgif-3-dbe7920c532f.gif' %}">
</body>