{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<div class="centerbox">
    <div><img style="width:22rem;height:30rem;" src="{% static 'img/profile.png' %}"></div>
    <div style="width:30rem;margin:0 5rem;">
        <p>Hi 👋, I'm Rahul Arepaka</p>
        <p>I'm a Robotics Researcher 🤖 and Agri-Enthusiast 🌱</p>
        <p>II-year student pursing Computer Science and Engineering at
            <a href="https://www.mahindraecolecentrale.edu.in/" target="_blank">Ecole Centrale School of
                Engineering</a>,
            <a href="https://www.mahindrauniversity.ac.in/" target="_blank">Mahindra University</a>,
        </p>
        <p>Currently researching on Laser Weeding on Low-Dense Plants using Robotics, Computer Vision and
            Deep Learning technologies </p>

        <p>These are some of my favourite TV series
            <a href="https://www.cbs.com/shows/young-sheldon/" target="_blank">Young Sheldon</a>,
            <a href="https://www.netflix.com/ae-en/title/80176893?source=35" target="_blank">Good Doctor</a>,
            <a href="https://abc.com/shows/shark-tank" target="_blank">Shark Tank</a>,
            <a href="https://www.primevideo.com/region/eu/detail/The-Family-Man/0H3DDB4KBJFNDCKKLHNRLRLVKQ"
                target="_blank">The Family Man</a>
            and <a href="https://www.amazon.com/Silicon-Valley-Season-1/dp/B00M4ZOQK4" target="_blank">Silicon
                Valley</a>
        </p>

        <p>These are my favourite standup shows
            <a href="https://www.netflix.com/ae-en/title/80174688" target="_blank">Kevin Hart </a>,
            <a href="https://www.netflix.com/ae-en/title/80239932" target="_blank">Trevor Noah </a>,
            <a href="https://www.netflix.com/ae-en/title/80237903" target="_blank">Gabriel</a> </a>,
            <a href="https://www.netflix.com/ae-en/title/80134781" target="_blank">Hasan Minhaj </a>,
            <a href="https://www.netflix.com/ae-en/title/81134934" target="_blank">Kenny Sebastian</a>,
            <a href="https://www.netflix.com/ae-en/title/81111733" target="_blank">Kanan Gill</a>
            and <a href="https://www.netflix.com/ae-en/title/80133552" target="_blank">Vir Das</a>

        </p>

        <p>I would love to collaborate with Robotics Research Project 🧑🏻‍🤝</p>
    </div>
</div>
{% endblock %}