<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">

{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}
<div class="centerbox">

    <center><h2 style="color:#c9af70">ℹ️ About</h2></center>
    
    <br>
    
    <center><img src="{% static 'img/profile.png' %}" style="width:300px;height:400px;"></img></center>


    <br>
    <center>Hi 👋, I'm Rahul Arepaka</center>
    <center>I'm a Robotics Researcher 🤖 and Agri-Enthusiast 🌱</center><br>
    <center>II-year student pursing Computer Science and Engineering at
            <a href="https://www.mahindraecolecentrale.edu.in/" target="_blank">Ecole Centrale School of
                Engineering</a>,
            <a href="https://www.mahindrauniversity.ac.in/" target="_blank">Mahindra University</a>,
    </center>
    <br>
    <center>⚡ Currently, working with <a href="https://www.farming-revolution.com/" target="_blank">Farming Revolution GmbH(Bosch Deepfield Robotics)</a> on a Research Project on <br>Laser Weeding in
        Moblie Robots using Pan-Tilt System in Mahindra University ☘️</center>
    
    <br>
    <center>⚙️ Worked on Laser Weeding for CNC-based farmbot with an open-source organization "FarmBot" 🪴
    </center>
        <!--
        <p>Here are work related documents</p>
        <ul>
            <li><a href="https://drive.google.com/file/d/1EcBxrVSWqRVwsi9I1mdeFuECedEFKIYX/view?usp=sharing" target="_blank">Resume</a>
            </li>
            <li><a href="https://drive.google.com/file/d/1YomMTng48dG2HwXGpGqphSdajIJYLel5/view?usp=sharing" target="_blank">Curriculum vi­tae</a>
</li>
        </ul>
    -->
    <br>
    <center>I would love to collaborate with Robotics Research Project 🧑🏻‍🤝</center>
    
</div>
</div>

</div>
    {% endblock %}