{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<div class="centerbox">
    <div><img style="width:22rem;height:30rem;" src="{% static 'img/profile.png' %}"></div>
    <div style="width:30rem;margin:0 5rem;">
        <h2 style="color:#c9af70">ℹ️ About</h2>
        <p>Hi 👋, I'm Rahul Arepaka</p>
        <p>I'm a Robotics Researcher 🤖 and Agri-Enthusiast 🌱</p>
        <p>II-year student pursing Computer Science and Engineering at
            <a href="https://www.mahindraecolecentrale.edu.in/" target="_blank">Ecole Centrale School of
                Engineering</a>,
            <a href="https://www.mahindrauniversity.ac.in/" target="_blank">Mahindra University</a>,
        </p>
        <p>⚡ Currently, working with <a href="https://www.farming-revolution.com/" target="_blank">Farming Revolution GmbH(Bosch Deepfield Robotics)</a> on a Research Project on Laser Weeding in
        Moblie Robots using Pan-Tilt System in Mahindra University ☘️</p>

        <p>⚙️ Worked on Laser Weeding for CNC-based farmbot with an open-source organization "FarmBot" 🪴
        </p>
        <!--
        <p>Here are work related documents</p>
        <ul>
            <li><a href="https://drive.google.com/file/d/1EcBxrVSWqRVwsi9I1mdeFuECedEFKIYX/view?usp=sharing" target="_blank">Resume</a>
            </li>
            <li><a href="https://drive.google.com/file/d/1YomMTng48dG2HwXGpGqphSdajIJYLel5/view?usp=sharing" target="_blank">Curriculum vi­tae</a>
</li>
        </ul>
    -->
        <p>I would love to collaborate with Robotics Research Project 🧑🏻‍🤝</p>
    </div>
    
</div>


{% endblock %}