{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/projects.css">
{% endblock %}

{% block content %}
<div class="projectcontainer">
    <div class="projectblock">
        <center><h2>Global Babson Collobrative Student Challenge 2021</h2></center>
        <img src="/static/img/awards/babson.jpg" class="projectimagebox">
        <center>
            <p>Finalist for Global Babson Collaborative challenge</p>
        </center>
        <center><p>Team : Fly Square - Bachelor’s level (Top 10 Teams)</p></center>

        <center>
            <p>Built a models and simulated prototypes of co-axial drones using solid state batteries</p>
        </center>
        
        <div class="technology">
            <p style="color:gray; font-style: italic;">May 2021</p>
            <b>Keyword:</b> Drones, Entrepreneurship, Technology
        </div>
    </div>

    <div class="projectblock">
        <center>
            <h2>Mahindra University Research Symposium 2020</h2>
        </center>
        <img src="/static/img/awards/mu.jpg" class="projectimagebox">
        <center>
            <p>First Place at Mahindra University Research Symposium in Oral Presentation</p>
        </center>
        <center>
            <p>Project : Cable Lifted Automated Robots for Agriculture </p>
        </center>
    
        <center>
            <p>Presented my research on CLARA in agriculture using distance formulae</p>
        </center>
    
        <div class="technology">
            <p style="color:gray; font-style: italic;">Decemeber 2020</p>
            <b>Keyword:</b> Robots, Research, Computer vision, Agriculture
        </div>
    </div>

        <div class="projectblock">
            <center>
                <h2>FIRST Tech Challenge AUS - UAE Edition <br> 2019</h2>
            </center>
            <img src="/static/img/awards/ftc.png" class="projectimagebox">
            <center>
                <p>Think Award at FIRST Tech Challenge at American University Sharjah 2019</p>
            </center>
            <center>
                <p>Team : OOW_Phantom [RR_04]</p>
            </center>
        
            <center>
                <p>Theme :Rover Ruckus</p>
            </center>
        
            <div class="technology">
                <p style="color:gray; font-style: italic;">March 2019</p>
                <b>Keyword:</b> Robots, Programming, Computer vision
            </div>
        </div>

    <div class="projectblock">
        <center>
            <h2>World Robotics Olympiad 2018 <br> Thailand</h2>
        </center>
        <img src="/static/img/awards/wro.jpg" class="projectimagebox">
        <center>
            <p>Represented UAE in the Finals of World Robotics Olympiad 2018 at Thailand in Nov-2018 and our UAE Team “Emergence” was
            ranked 14th in Open Category Seniors</p>
        </center>
        <center>
            <p>Team : Team Emergence [UAE]</p>
        </center>
    
        <center>
            <p>Theme :Food Matters</p>
        </center>
    
        <div class="technology">
            <p style="color:gray; font-style: italic;">November 2018</p>
            <b>Keyword:</b> Robots, Programming, Computer vision
        </div>
    </div>


    <div class="projectblock">
        <center>
            <h2>National Robotics Olympiad 2018 <br> UAE</h2>
        </center>
        <img src="/static/img/awards/wro.jpg" class="projectimagebox">
        <center>
            <p>1st Place in Open Category Seniors at National Robotics Olympiad 2018 (UAE Chapter) under the theme “Food-Matters”.</p>
        </center>
        <center>
            <p>Team : Team Emergence [OOW]</p>
        </center>
    
        <center>
            <p>Theme :Food Matters</p>
        </center>
    
        <div class="technology">
            <p style="color:gray; font-style: italic;">May 2018</p>
            <b>Keyword:</b> Robots, Programming, Computer vision
        </div>
    </div>


    <div class="projectblock">
            <center>
                <h2>Technobizz Business Challenge <br> UAE</h2>
            </center>
            <img src="/static/img/awards/gems.jpg" class="projectimagebox">
            <center>
                <p>1st Place in Technobizz Business Challenge at Winchester School, Jebel Ali, Dubai</p>
            </center>
            <center>
                <p>Team : Team Emergence [OOW]</p>
            </center>
        
            <center>
                <p>Theme :Buisness Challenge</p>
            </center>
        
            <div class="technology">
                <p style="color:gray; font-style: italic;">October 2018</p>
                <b>Keyword:</b> Buisness , Techology, Robots
            </div>
        </div>

    <div class="projectblock">
        <center>
            <h2>University of Wollongong, Dubai<br> UAE</h2>
        </center>
        <img src="/static/img/awards/uowd.jpg" class="projectimagebox">
        <center>
            <p>1st Place in Open Category Robotics Demonstration 2018 at University of Wollongong, Dubai.
        </p>
        </center>
        <center>
            <p>Team : Team Emergence [OOW]</p>
        </center>
    
        <center>
            <p>Theme : Open Category Robotics Demonstration </p>
        </center>
    
        <div class="technology">
            <p style="color:gray; font-style: italic;">May 2018</p>
            <b>Keyword:</b> Research, Robots
        </div>
    </div>


    <div class="projectblock">
        <center>
            <h2>FIRST Lego League 2020/2021 - National Level UAE</h2>
        </center>
        <img src="/static/img/awards/fll.jpg" class="projectimagebox">
        <center>
            <p>Mentor and Judge at the FIRST Lego League – National Level 2020 and 2021.
            </p>
        </center>
        <center>
            <p>Role : Robot Design Judge</p>
        </center>
    
        <center>
            <p>Region : National Level</p>
        </center>
    
        <div class="technology">
            <p style="color:gray; font-style: italic;">January 2020/2021</p>
            <b>Keyword:</b> Judge , FIRST, Robots
        </div>
    </div>



    {% endblock %}