{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}
<div class="centerbox">

    <img src="{% static 'img/me.png' %}" style="width:300px;height:600px;"></img>
    <center>
        <p style="font-size:30px" > Contact Details </p>
    </center>
    <center>
    <p>📧 Email-Personal: <a href="mailto:rahul.arepaka@gmail.com">rahul.arepaka@gmail.com</a><br>
        </center>
    <center>📫 Email-Education: <a href="mailto:rahul20ucse156@mahindrauniversity.edu.in">rahul20ucse156@mahindrauniversity.edu.in</a><br></center>
    <br>
    <center>📞 Phone: <a href="tel:+971 56 347 92 75">(+971) 56 347 92 75</a><br><br></center>
    <center>💼 LinkedIn: <a href="https://linkedin.com/in/rahul-arepaka" target="_blank">Rahul Arepaka</a><br></center>
    <center>📸 Instagram: <a href="https://instagram.com/rahularepaka" target="_blank">rahularepaka</a><br></center>  
    <center>😸 GitHub: <a href="https://github.com/rahularepaka" target="_blank">rahularepaka</a><br></p></center>
        

    </p>    
</div>
{% endblock %}