{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="centerbox">
    <div><img style="width:20rem;height:20rem;" src="{% static 'img/profile.png' %}"></div>
    <div style="width:30rem;margin:0 5rem;">
        <p>Hey!🖐️</p>
        <p>I'm Brandon Lee, a sophomore at Princeton majoring in "<a href="https://orfe.princeton.edu/" target="_blank">Operations
            Research and Financial Engineering</a>,"—a mix of data science, probabilistic modeling, and decision
            science. It's an interdisciplinary major that's perfect for my diverse interests in economics,
            healthcare, and computer science.</p>
        <p>In my spare time, you can usually find me <a href="{% url 'blog' %}">reading</a>, <a href="{% url 'projects' %}">coding</a>, or swimming.
            I also love listening to podcasts—I highly recommend
            <a href="https://www.npr.org/sections/money/" target="_blank">Planet Money</a>,
            <a href="https://80000hours.org/podcast/" target="_blank">80,000 Hours</a>,
            and <a href="https://www.thenosleeppodcast.com/" target="_blank">NoSleep.</a></p>
        <p>Welcome to my website!</p>
    </div>
</div>
{% endblock %}