{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

<body>

{% block content %}
    <center>
        <img src="static\img\webmain.png" style="width:900px;height:500px;" alt="centered image" />
    </center>
    
    <!--<div style="width:30rem;margin:0 5rem;">
    -->
    <center><p style="font-size:20px">Hi 👋, I'm Rahul Arepaka</p></center>
    <center><p style="font-size:15px">Working on Laser Weeding Robots 🌱 | CSE Undergrad @ Mahindra University 🧑‍💻 | Robotics Researcher 🧑‍🔧</p></center>

    <center>
        <div class="footer-external-link" title="GitHub"><a href="https://github.com/rahularepaka" target="_blank">😸</a></div>
        <div class="footer-external-link" title="Email-Personal"><a href="mailto:rahul.arepaka@gmail.com">📧</a></div>
        <div class="footer-external-link" title="Email-Education"><a
                href="mailto:rahul20ucse156@mahindrauniversity.edu.in">📫</a></div>
        <div class="footer-external-link" title="LinkedIn"><a href="https://linkedin.com/in/rahul-arepaka"
                target="_blank">💼</a></div>
            <div class="footer-external-link" title="Resume"><a
                    href="https://drive.google.com/file/d/1EcBxrVSWqRVwsi9I1mdeFuECedEFKIYX/view?usp=sharing" target="_blank">📃</a>
                <div class="footer-external-link" title="Curriculum vi­tae"><a
                        href="https://drive.google.com/file/d/1YomMTng48dG2HwXGpGqphSdajIJYLel5/view?usp=sharing"
                        target="_blank">📜</a>
        <div class="footer-external-link" title="Instagram"><a href="https://instagram.com/rahularepaka" target="_blank">📸</a>
        </div>

    </center>
    <p></p></br>


    <center>
            <p style="font-size:12px">[Last Updated : 9-August-2021]</p>
    </center>

</div>
{% endblock %}