{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/resume.css' %}">
{% endblock %}

{% block content %}
<center>
    <h2 style="color:#c9af70">🧑‍🏭 Work Experience</h2>
</center>


<p>Please find my work related documents</p>
        <ul>
            <li><a href="https://drive.google.com/file/d/1EcBxrVSWqRVwsi9I1mdeFuECedEFKIYX/view?usp=sharing"
                    target="_blank">Resume</a>
            </li>
            <li><a href="https://drive.google.com/file/d/1YomMTng48dG2HwXGpGqphSdajIJYLel5/view?usp=sharing"
                    target="_blank">Curriculum vi­tae</a>
            </li>
        </ul>



{% endblock %}

{% block script %}
<script src="{% static 'js/resume.js' %}"></script>
{% endblock %}