<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">


{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
{% endblock %}


{% block content %}
<div class="centerbox">
    <br>

    <div style="70px"><center><img src="{% static 'img/me4.png' %}" style="width:300px;height:300px;"></img></center></div>
    <!---
    <center>
        <h2 style="color:#c9af70" >Contact</h2>
    </center>
    -->
    <center><br></center>
    <center><h3> 👷 Current Work Status </h2></center>
    <center>
        <p>⚡ Currently, working with <br><a href="https://www.farming-revolution.com/" target="_blank">Farming Revolution GmbH(Bosch Deepfield Robotics)</a>,<br> 
            on a Research Project on Laser Weeding in
            Moblie Robots using Pan-Tilt System <br>in Mahindra University ☘️
        </p>

    <center>📃 Resume : <a
                        href="https://drive.google.com/file/d/1EcBxrVSWqRVwsi9I1mdeFuECedEFKIYX/view?usp=sharing" target="_blank">Rahul_Resume</a></center>
                    
    <center>📜 Curriculum Vi­tae : <div class="footer-external-link" title="Curriculum vi­tae"><a href=""https://drive.google.com/file/d/1YomMTng48dG2HwXGpGqphSdajIJYLel5/view?usp=sharing" target="_blank">Rahul_CV</a></center>
    </p>  

    </div>


</div>
{% endblock %}